# Ignorar todos los archivos .pyc del proyecto
**/*.pyc

# Ignorar archivos .json y .db solo en controllers/data/
controllers/data/*.json
controllers/data/*.db

# (Opcional) Ignorar carpetas típicas de caché
__pycache__/
PriceList/controllers/data/familias.json
PriceList/controllers/data/pricelist.db
